<div class="student-list-container">
    <div ng-if="vm.success"><h2>Attendance has bess taken successfully</h2></div>
    
    <form name="studentListForm" ng-submit="vm.formSub()" ng-if=" vm.studentListForm">
        
        <div class="table-container-header">
            <table>
                <thead>
                    <tr>
                        <th>select</th>
                        <th>RollNumber</th>
                        <th>FirstName</th>
                        <th>SecondName</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="error-container" ng-if="vm.error">
                <h3>there are no students to view</h3>
            </div>
        <div class="table-container">
            <table>
                <tbody>
                    <tr ng-repeat="student in vm.result"  ng-class="{'active': vm.selectedStudentId == class.rollNmber}">
                        <td>
                            <input type="checkbox" checklist-model="vm.selectedUsers" checklist-value="student.rollNumber" ng-click="vm.getSelectedStudents(student.rollNumber)">
                        </td>
                        <td>{{student.rollNumber}}</td>
                        <td>{{student.firstName}}</td>
                        <td>{{student.secondName}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="textarea-container">
            <textarea class="app-textarea" ng-model="vm.message" placeholder="Enter your message" rows="4" cols="50" required></textarea>
            <button type="submit" class="app-button"> Submit</button>
        </div>
        
    </form>
</div>