<div class="student-register-page" >
   

    <div id="studentregister-form " class="student-registration-container ">
        <div>
            <h1>Student Registration</h1>

        </div>
        <p id="failure ">{{vm.error}}</p>
        <p ng-if="vm.success"  ><h2>Your message was sent successfully. Thank you!</h2></p>

        <form name="addStudent1 " ng-submit="vm.addStudent() " class="student-register-form ">
            <div classs="label-container ">
                <label for="firstname ">
                    FirstName: * </label>
            </div>
            <div class="input-container ">
                <input class="app-input " type="text " ng-model="vm.firstname " id="firstname " name="name
    "  placeholder="Your Name " required="required " tabindex="1 " autofocus="autofocus " />

            </div>
            <div classs="label-container ">
                <label for="name " classs="label-container ">
                    secondName: *</label>
            </div>
            <div class="input-container ">
                <input class="app-input " type="text " ng-model="vm.secondname " id="secondname " name="secondname
    "  placeholder="Your Name " required="required " tabindex="1 " autofocus="autofocus " />

            </div>
            <div classs="label-container ">
                <label for="rollnumber " classs="label-container ">
                    RollNo: *</label>
            </div>
            <div class="input-container ">
                <input class="app-input " type="text " id="rollnumber " ng-model="vm.rollnumber " name="rollnumber
    "  placeholder="Your RollNo " required="required " tabindex="1 " autofocus="autofocus " />
            </div>
            <div classs="label-container ">
                <label for="rollnumber ">
                    Deparrment: *</label>
            </div>
            <div classs="label-container ">
                <label for="rollnumber " classs="label-container ">
                    RollNo: *</label>
            </div>
            <div class="input-container ">
                <input class="app-input " type="text " id="rollnumber " ng-model="vm.rollnumber " name="rollnumber
    "  placeholder="Your RollNo " required="required " tabindex="1 " autofocus="autofocus " />
            </div>
            <div classs="label-container ">
                <label for="rollnumber ">
                    Deparrment: *</label>
            </div>
            <div class="input-select-container ">
                    <select class="form-control " ng-model="vm.department ">
                        <option value=" " disabled selected>Please select department</option>
                        <option ng-repeat="dept in vm.depts "> {{dept}}
                        </option>
                    </select>
                </div>
                <div classs="label-container ">
                    <label for="rollnumber ">
                        class: *</label>
                </div>
                <div class="input-select-container ">
                        <select class="form-control " ng-model="vm.department ">
                            <option value=" " disabled selected>Please select department</option>
                            <option ng-repeat="dept in vm.classes "> {{dept.name}}
                            </option>
                        </select>
                    </div>
            <div class="label-container ">
                <label for="email " classs="label-container ">
                    Email: * </label>
            </div>
            <div class="input-container ">
                <input class="app-input " type="email " ng-model="vm.email" id="email " name="email "  placeholder="Your
    Email " tabindex="2 " required="required "/>

            </div>
            <div class="label-container ">
                <label for="contactnumber ">
                    ContactNumber: *</label>
            </div>
            <div class="input-container ">
                <input class="app-input " type="number " ng-model="vm.contactnumber" id="contactnumber " name="contactnumber
    "  placeholder="Your Number " tabindex="2 " required="required " />

            </div>
            <div class="label-container ">
                <label for="email " classs="label-container ">
                    EmegencyNumber: * </label>
            </div>
            <div class="input-container ">
                <input class="app-input " type="number " id="EmegencyNumber " ng-model="vm.EmegencyNumber" name="EmegencyNumber
    " placeholder="Your Number "  tabindex="2 " required="required " />

            </div>

            <div class="button-container ">
                <button name="submit " type="submit " id="submit " class="app-button ">SEND</button>
            </div>
  
    </form>
</div>
</div>